<% include partials/header%>
<h1>Home Page</h1>
<p>
  Upload the signed file you want verified along with the username of the person
  who signed the file.
</p>
<form action="/" method="POST" enctype="multipart/form-data">
  <div>
    <h3>File Sigature</h3>
    <input type="file" name="signature" id="" required />
  </div>
  <div>
    <h3>Message</h3>
    <input type="file" name="message" id="" required />
  </div>
  <div>
    <h3>Username</h3>
    <input type="test" name="username" id="" placeholder="username" required />
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
