<% include partials/header%>
<h1>Public and Private Key Page</h1>
<p>
  Howdy, <%= username %> Please select your public key and re-enter your
  password to store in the server.
</p>
<form action="/keys" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="username" value="<%= username %>" />
  <input type="file" name="testFile" id="" required />
  <input
    type="password"
    name="password"
    id=""
    placeholder="password"
    required
  />
  <button>Submit</button>
</form>
