<% include partials/header%>
<h1>Login</h1>
<p>
  It will take a few seconds to authenticate you. You will then be directed to
  the key page where you can add store your public key
</p>
<form action="/login" method="POST">
  <input type="text" name="username" id="" placeholder="username" required />
  <input
    type="password"
    name="password"
    id=""
    placeholder="password"
    required
  />
  <button>Log In</button>
</form>
