<% include partials/header%>
<h1>Login</h1>
<form action="POST">
  <input type="text" name="User[username]" id="" placeholder="username" />
  <input type="text" name="User[password]" id="" placeholder="password" />
  <input type="button" value="Log In" />
</form>
