<% include partials/header%>
<h1>Register</h1>
<p>
  It will take a few seconds to authenticate you. You will then be directed to
  the key page where you can add store your public key
</p>
<form action="/register" method="POST">
  <input type="text" name="user[username]" id="" placeholder="username" />
  <input type="password" name="user[password]" id="" placeholder="password" />
  <button>Register</button>
</form>
